/* src/FAQ.css */
.faq-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align items horizontally */
  width: 80%;
  margin: 0 auto;
  font-family: 'Switzer', sans-serif;
}

.faq-header-container {
  display: flex;
  flex-direction: column; /* Stack title and subtitle vertically */
  align-items: center; /* Center align items horizontally */
  margin-bottom: 20px; /* Space between header and content */
  text-align: center; /* Center text */
}

.faq-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.faq-image {
  flex: 1;
  margin-right: 20px; /* Space between image and questions */
}

.faq-image img {
  width: auto; /* Maintain aspect ratio */
  height: 350px; /* Make photo a bit taller */
  max-width: 100%; /* Ensure the image doesn't overflow */
}

.faq-questions {
  flex: 2; /* Adjust to make it smaller compared to the image container */
  display: flex;
  flex-direction: column;
}

.faq-subtitle {
  font-size: 16px; /* Smaller font size */
  color: #888; /* Grey color */
  font-weight: normal; /* Normal font weight for smaller text */
}

.faq-icon {
  margin-right: 10px;
  width: 24px; /* Adjust size as needed */
  height: auto;
}

.faq-main-title {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
}

.faq-item {
  margin-bottom: 0; /* Ensure no extra margin */
}

.faq-question {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; /* Adjust padding as needed */
}

.faq-answer {
  font-size: 14px;
  padding: 0; /* Remove padding to align with question */
}

.faq-toggle {
  margin-left: 10px;
}

.faq-divider {
  margin-top: 10px; /* Adjust spacing if needed */
  width: 100%;
  text-align: center;
  display: inline-block;
}

.faq-divider-gray {
  color: #ccc;
  border-bottom: 1px solid #ccc; /* Gray color */
}

.faq-divider-black {
  color: #000;
  border-bottom: 1px solid #000; /* Black color */
}
